<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index/template::head(title = 'Ideas | Search')"></head>
<body>

<th:block th:replace="index/template :: header"/>

<main class="container">

    <div class="row g-5">
        <div class="col-md-8">
            <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <h2 class="text-center display-4">Search</h2>
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <form>
                                    <div class="input-group">
                                        <input th:value="${search}" type="search" name="s" class="form-control form-control-lg"
                                               placeholder="Type your keywords here">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-search"></i>Search
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <article class="blog-post">


                <table th:if="${!#strings.isEmpty(search)}" class="table" id="table">
                    <thead style="border-bottom-color: #000000">
                    <tr>
                        <th>Nr</th>
                        <th>Type</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category, it : ${searchCategories}">
                        <td th:text="${it.index+1}"></td>
                        <td>Category</td>
                        <td><a th:text="${category.name}" th:href="'categories/'+${category.id}"
                               class="p-2 link-secondary" style="text-decoration: none"></a></td>
                    </tr>
                    <tr th:each="question, it : ${searchQuestions}">
                        <td th:text="${it.index+1+searchCategories.size()}"></td>
                        <td>Question</td>
                        <td><a th:text="${question.name}" th:href="'questions/'+${question.id}"
                               class="p-2 link-secondary" style="text-decoration: none"></a></td>
                    </tr>
                    <tr th:each="answer, it : ${searchAnswers}">
                        <td th:text="${it.index+1+searchCategories.size()+searchQuestions.size()}"></td>
                        <td>Answer</td>
                        <td><a th:text="${answer.name}" th:href="'questions/'+${answer.questionId}"
                               class="p-2 link-secondary" style="text-decoration: none"></a></td>
                    </tr>
                    </tbody>
                </table>
            </article>

        </div>

        <th:block th:replace="index/template :: rightbar"/>
    </div>

</main>

<th:block th:replace="index/template :: footer"/>

</body>
</html>
